# Current htaccess rules also take care of disallowing .git folder and any other sensitive files such as .sql because basically it rewrites every call to index.php with the exception of git-pull.php which is necessary for receiving github pings

# Set header to allow access from any domain for making calls
Header set Access-Control-Allow-Origin *

# Reason why I have setup it like this is for performance reasons, rewrite to index.php for every access with an exception to git-pull.php file, required for receiving github pings
# This way we have an extra check for specific file at each request but therotically it should be still faster because we are still avoiding any file existence checks (I/O checks).
<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine on
	RewriteCond %{REQUEST_URI} !^/git-pull.php
	RewriteRule . index.php [L]
</IfModule>
