# Current htaccess rules also take care of disallowing .git folder and any other sensitive files such as .sql
Header set Access-Control-Allow-Origin *
<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine on
RewriteRule . index.php [L]
</IfModule>
